.con-BarSer {
  justify-content: right;
  max-height: auto;
}

.pr-BarSer {
  background: white !important;
  padding: 0;
  margin: 5px 5%;
}

.btn-Ser{
  color:#3f3f3fb7;
  padding: 0 15px;
}
.btn-Ser:hover{
  color:black;
  cursor: pointer
}

/*moviles vertical*/
@media (max-width: 575px) {
  .pr-BarSer {
    display: none;
  }
}
/*moviles horizontal*/
@media (max-width: 767px) {
  .pr-BarSer {
    display: none;
  }
}
/*Tablets*/
@media (max-width: 991px) {
  .pr-BarSer {
    display: none;
  }
}

@media (max-width: 991px) {
  .pr-BarSer {
    display: none;
  }
}
