.cat-img{
    width: 85px!important; 
    height: 85px!important;
    background: white!important;
    border-radius: 50% ;
    padding: 10px;
    margin: 10px;
}

.cont-cat{
    display: flex!important;
    background: white;
    cursor: pointer;
    justify-content: space-around;
    text-align: center;
}

.cont-cat>*{
    text-decoration: underline;
}
.cont-cat>div{
    margin-left: 20px;
}