.con-barPri > * {
  padding-right: 30px;
}

.con-barPri {
  background: white !important;
  border-bottom-style: solid;
  border-bottom-width: 0.2rem;
  border-color: var( --color-principal);
  padding: 0 20px;
  margin: 0;
}
.text-pri{
  color: black;
}
.icon-pri{
  height:50px;
  width: 50px;
  color:#e7e3e3b7;
  padding: 12px;

}

.carrito-icon{
  color:rgb(97, 97, 97);
  height:50px;
  width: 50px;
  padding: 12px;

}

.carrito-icon:hover{
  color: black;
  background:var(--color-principal);
  border-radius: 25px;
}
.icon-pri:hover{
  color: black;
  background:#e7e3e3b7;
  border-radius: 25px;
}

.campoBusqueda{
    background:#dadada3d!important;
    border-color: #afacac8f!important;
    margin-top:7% ;
}
.figure {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.input-group{
  width: 50%;
  margin-left:10px ;
  margin-right:18% ;
}
.nav-link{
  margin-left: 10px;
}

.carrito-logo{
  position: relative;
  display: inline-block;
}

.carrito-cantidad{
  display: flex;
  position: absolute;
  padding: 0;   
  top: 0;       
  right: 0.1rem;
  background: var(--color-secundario);
  width: 23px;
  height: 23px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: bold;
  color:white
}
/*moviles vertical*/
@media (max-width: 575px){
  .con-barPri {
    padding: 10px;
    max-height: 110px;
  }
  .input-group{
    padding-top:20px ;
    width: 100%!important;
    margin-left:20px ;
    margin-right:0 ;
  }
  .con-barPri {
    border-bottom-style: solid;
    border-bottom-width: 0.1rem;
  }
}



/*moviles horizontal*/
@media (max-width: 767px){
  
}
/*Tablets*/
@media (max-width: 991px){
  
}

/*pantallas pequeñas*/

@media (max-width: 1250px){
  .input-group{
    padding-top:20px ;
    width: 50%;
    margin-left:10px ;
    margin-right:8%  ;
  }
  .nav-link{
    margin-left: 0px;
  }
}
